{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags and title -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Spotify Wrapped Bootleg{% endblock %}</title>

    <!-- including Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- including FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- including Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <!-- including custom CSS -->
    <link href="{% static 'users/style.css' %}" rel="stylesheet">
    
    {% block style %}
        <!-- put extra style components here -->
    {% endblock %}
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Spotify Wrapped Bootleg</a>
    {% block nav %}
        <!-- add items to nav bar here -->
    {% endblock %}
</nav>

{% block content %}
<!-- content injected here -->
{% endblock %}

<!-- including Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script     src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script     src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
