{% extends 'base_site.html' %}
{% block content %}
    <div id="title-container">
        <h2><strong>Edit Profile</strong></h2>
    </div>
    <div id="profile-details-container">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name"><strong>First Name:</strong></label>
                <input type="text" name="first_name" id="first_name" value="{{ form.first_name.value }}">
            </div>
            <div class="form-group">
                <label for="last_name"><strong>Last Name:</strong></label>
                <input type="text" name="last_name" id="last_name" value="{{ form.last_name.value }}">
            </div>
        <div id="buttons">
            <a href="{% url 'profile' request.user.username %}">
                <button type="button" class="btn btn-primary btn-block" id="cancel-button">Cancel</button>
            </a>
            <button type="submit" class="btn btn-primary btn-block" id="save-button">Save changes</button>
            <!-- button to delete account -->
            <a href="{% url 'delete-account' %}" class="btn btn-primary btn-lg">Delete account</a>
        </div>
        </form>
    </div>
{% endblock %}