{% extends 'base_site.html' %}
{% load i18n %}

{% block nav %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"     aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav"> 
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' request.user.username %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            <form style="margin-top: 9px;"action="{% url 'set_language' %}" method="post">
                <input name="next" type="hidden" value="{{ redirect_to }}">
                {% csrf_token %}
                <select name="language" onchange="this.form.submit()">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% for code, name in LANGUAGES %}
                        <option style="background-color: black; font-weight: bold" value="{{ code }}" {% if code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ name }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </ul>
    </div>
{% endblock %}