{% extends 'base_site.html' %}
{% load i18n %}

{% block style %}
    <style>
    .gallery-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        white-space: nowrap;
        padding: 10px;
        gap: 10px;
        scroll-behavior: smooth;
        }

        .gallery-item {
            width: calc(100% - 40px);
            height: 100px;
            background-color: #03C03C;
            color: white;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: transform 0.2s;
        }

        .gallery-item:hover {
            transform: scale(1.05);
        }
    </style>
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' username=user.username %}">{% trans "Profile" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home_logged_in' username=user.username %}">{% trans "Home" %}</a>
    </li>
{% endblock %}

{% block content %}
    <h1 style="margin:20px">{% trans "Explore Public Wraps" %}</h1>
<div id="wraps" class="mt-4">
    <div class="gallery-container">
        {% for wrap in wraps %}
            <a href="{% url 'wrap_detail_view' wrap.id %}" class="gallery-item" data-wrap-id="{{ wrap.id }}">
                    {{ wrap.title }}
                </a>
        {% empty %}
            <p>{% trans "No shared wraps. Be the first!" %}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
