{% extends 'base_site.html' %}
{% load i18n %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' username=user.username %}">{% trans "Profile" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'explore' %}">{% trans "Explore" %}</a>
    </li>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center" style="max-width: 600px; width: 100%;">
        <h2 class="mb-4">Link your Spotify Account</h2>
        <p>to generate and share your own wraps!</p>
    </div>
</div>
<div class="container d-flex justify-content-center align-items-center">
{#    <a href="{% url 'spotify_login' %}">#}
{#        <button id="linkSpotify" class="btn btn-primary">Link Account</button>#}
{#    </a>#}
    <p>Go to users/spotify_login</p>
</div>

{% endblock %}