{% extends 'base_site.html' %}
{% load i18n %}

{% block style %}
    <style>
        #title-container {
            display: flex;
            gap: 20px;
            margin: 20px;
        }

        #page-title {
            margin-right: auto;
        }

        #profile-details-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

    </style>
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' username=user.username %}">{% trans "Profile" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'explore' %}">{% trans "Explore" %}</a>
    </li>
{% endblock %}

{% block content %}
    <div id="title-container">
        <div id="page-title">
            <h2><strong>Your Profile</strong></h2>
        </div>
        <a href="{% url 'edit-profile' request.user.username %}" id="edit-button">
            <button type="button" class="btn btn-primary" id="edit-button">Edit</button>
        </a>
        <a href="{% url 'public_profile' request.user.username %}">
            <button type="button" class="btn btn-primary btn-lg" id="public-profile-button">Public Profile</button>
        </a>
        <a href="{% url 'logout' %}" onclick="return confirmLogout()">
            <button type="button" class="btn btn-primary btn-lg" id="logout-button">Log Out</button>
        </a>
        <a href="{% url 'home' %}">
            <button type="button" class="btn btn-primary btn-lg" id="home-button">Home</button>
        </a>
    </div>
    <div class="container">
        <div class="profile-details" id="profile-details-container">
            <p><strong>Username: </strong>{{ profile.user.username }}</p>
            <p><strong>Display Name: </strong>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
            <p><strong>Email: </strong> {{ profile.user.email }}</p>
        </div>
    </div>

    <!-- JavaScript for Logout Confirmation -->
    <script>
        function confirmLogout() {
            return confirm("Are you sure you want to log out?");
        }
    </script>
{% endblock %}