{% extends 'base_site.html' %}
{% block content %}
        <div id="title-container">
        <div id="page-title">
            <h2><strong>Your Profile</strong></h2>
        </div>
        <a href="{% url 'edit-profile' request.user.username %}" id="edit-button">
            <button type="button" class="btn btn-primary" id="edit-button">Edit</button>
        </a>
        <a href="{% url 'songs' %}">
            <button type="button" class="btn btn-primary btn-lg" id="songs-button">Songs</button>
        </a>
        <a href="{% url 'home' %}">
            <button type="button" class="btn btn-primary btn-lg" id="songs-button">Log Out</button>
        </a>
    </div>
    <div class="container">
        <div class="profile-details" id="profile-details-container">
            <p><strong>Username: </strong>{{ profile.user.username }}</p>
            <p><strong>Name: </strong>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
            <p><strong>Email: </strong> {{ profile.user.email }}</p>
            </div>
    </div>
{% endblock %}