{% extends 'base_site.html' %}
{% load i18n %}
{% block style %}
    <style>
        #title-container {
            display: flex;
            gap: 20px;
            margin: 20px;
        }

        #page-title {
            margin-right: auto;
        }

        #profile-details-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    </style>
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' username=user.username %}">{% trans "Profile" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'explore' %}">{% trans "Explore" %}</a>
    </li>
{% endblock %}

{% block content %}
    <div id="title-container">
        <div id="page-title">
            <h2><strong>
                {% if profile.user.first_name or profile.user.last_name %}
                    {{ profile.user.first_name }} {{ profile.user.last_name }}
                {% else %}
                    {{ profile.user.username }}
                {% endif %}
                {% trans "Wraps" %}
            </strong></h2>
        </div>
    
    <div id="wraps" class="mt-4">
    <div class="gallery-container">
        {% for wrap in wraps %}
            <a href="{% url 'wrap_detail_view' wrap.id %}" class="gallery-item" data-wrap-id="{{ wrap.id }}">
                    {{ wrap.title }}
                </a>
        {% empty %}
            <p>{% trans "No shared wraps." %}</p>
        {% endfor %}
    </div>
</div>
        <button type="button" class="btn btn-primary btn-lg" id="back-button" onclick="history.back()">
            {% trans "Back" %}
        </button>
    </div>
    
{% endblock %}
