{% extends 'base_site.html' %}
{% block style %}
    <style>
        #title-container {
            display: flex;
            gap: 20px;
            margin: 20px;
        }

        #page-title {
            margin-right: auto;
        }

        #profile-details-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="title-container">
        <div id="page-title">
            <h2><strong>
                {% if profile.user.first_name or profile.user.last_name %}
                    {{ profile.user.first_name }} {{ profile.user.last_name }}
                {% else %}
                    {% trans "User" %}
                {% endif %}
                {% trans "Wraps" %}
            </strong></h2>
        </div>
        <button type="button" class="btn btn-primary btn-lg" id="back-button" onclick="history.back()">
            {% trans "Back" %}
        </button>
    </div>
{% endblock %}
